*
{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem; 
    line-height: 5rem;
    text-align: center;
}
.choice
{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover
{
    opacity:0.5; 
    cursor: pointer;
    background-color: #081b31;
}
img
{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices
{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 55px;
}
.scoreboard
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#comp-score
{
font-size: 4rem;
}

.msg-container
{
     margin-top: 4rem;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     width: 244px;
     margin-left: 666px;
}
#msg
{
    font-size: 2rem;
    background-color: #061323;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 250px;
    border: 2px solid red;
}
#msg p
{
    margin-left: 12px;
}
.drawboth
{
    font-size:3rem;
 margin-top: 5px;
}
.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This centers vertically in the viewport */
    margin-top: -300px;
}
